<div class="row">
  <% @products.each do |product| %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="/cart_items"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title"><%= product.name %></h4>
          <h5><%= number_to_currency(product.price) %></h5>
        </div>
        <div class="card-footer">
          <a><%= link_to "Detail", product_path(product.id), class: "btn btn-primary" %></a>
        </div>
      </div>
    </div>
  <%end%>
</div>
<%= paginate @products %>
